<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
    <app-navbar></app-navbar>
      <div class="row">
        <div class="col-12" class="title">
         <mat-card>
          <mat-card-title>
            <h1> <b>Monitoraggio del sistema documentale</b> </h1>
          </mat-card-title>
          <mat-card-content>
            <h1>Home page</h1>
          </mat-card-content>
         </mat-card>
        </div>
      </div>
    </div>
  </body>
</html>
