<?xml version="1.0" encoding="UTF-8"?>
<server description="Monitoraggio">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-6.1</feature>
    </featureManager>

    <dataSource id="defaultDataSource" jndiName="jdbc/defaultDataSource">
        <jdbcDriver libraryRef="PostgreSQLLib"/>
        <properties>
            <databaseName>${env.DATABASE_NAME}</databaseName>
            <serverName>${env.DATABASE_HOST}</serverName>
            <portNumber>${env.DATABASE_PORT}</portNumber>
            <user>${env.DATABASE_USER}</user>
            <password>${env.DATABASE_PASSWORD}</password>
        </properties>
    </dataSource>

    <library id="PostgreSQLLib">
        <file name="${env.POSTGRES_DRIVER_LOCATION}"/>
    </library>

    <basicRegistry id="basic" realm="BasicRealm">
    </basicRegistry>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="10000"
                  httpsPort="9999">
    </httpEndpoint>

    <applicationManager autoExpand="true"/>

    <webApplication contextRoot="/monitoraggio" location="monitoraggio.war"/>
    <logging traceSpecification="com.ibm.ws.kernel.boot=all=enabled"/>

    <keyStore id="defaultKeyStore" password="${env.KEYSTORE_PASSWORD}" />
    <ssl id="defaultSSLConfig"
         keyStoreRef="defaultKeyStore"
         sslProtocol="TLS"  />

</server>
