<?xml version="1.0" encoding="UTF-8"?>
<server description="Monitoraggio">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-6.1</feature>
    </featureManager>

    <dataSource id="msdDataSource" jndiName="jdbc/msdDataSource">
        <jdbcDriver libraryRef="pluginGenLib"/>
        <!-- <properties>
            <url>${env.DATABASE_URL}</url>
            <user>${env.DATABASE_USER}</user>
            <password>${env.DATABASE_PASSWORD}</password>
        </properties> -->
        <properties.oracle URL="${env.DATABASE_URL}"
                           user="${env.DATABASE_USER}"
                           password="${env.DATABASE_PASSWORD}"/>
    </dataSource>

    <library id="oracleLib">
        <file name="${env.ORACLE_DRIVER_LOCATION}"/>
    </library>

    <library id="pluginGenLib">
        <fileset dir="jdbc" includes="*.jar"/>
    </library>

    <basicRegistry id="basic" realm="BasicRealm">
    </basicRegistry>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="10000"
                  httpsPort="9999">
    </httpEndpoint>

    <applicationManager autoExpand="true"/>

    <webApplication contextRoot="/monitoraggio" location="monitoraggio.war"/>
    <logging traceSpecification="com.ibm.ws.kernel.boot=all=enabled"/>

    <keyStore id="defaultKeyStore" password="${env.KEYSTORE_PASSWORD}" />
    <ssl id="defaultSSLConfig"
         keyStoreRef="defaultKeyStore"
         sslProtocol="TLS"  />

</server>
