<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="InfoConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{HH:mm:ss} [%t] %c{1}:%L - %m%n"/>
            <Filters>
                <LevelRangeFilter minLevel="ERROR" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>

        <File name="DebugFile" fileName="${env:log4j}/debug.log">
            <PatternLayout pattern="%-5p %d{HH:mm:ss} [%t] [DETAIL] %c{1}:%L - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="InfoConsole"/>
            <AppenderRef ref="DebugFile"/>
        </Root>

        <Logger name="org.quartz" level="DEBUG" additivity="false">
            <AppenderRef ref="DebugFile"/>
        </Logger>

        <Logger name="it.dmi" level="DEBUG" additivity="false">
            <AppenderRef ref="DebugFile"/>
            <AppenderRef ref="InfoConsole"/>
        </Logger>
    </Loggers>
</Configuration>