@import '../../../../src/assets/ui-kit/static/css/agenzia-entrate.css';
@import '../../../../src/assets/ui-kit/static/css/app.css';
@import '../../../../src/assets/ui-kit/static/css/bootstrap-icons.css';
@import '../../../../src/assets/ui-kit/static/css/fonts/agenzia-entrate-fonts.css';


table {
  width: 100%;
}

.title{
  text-align: center;
}

.row{
  padding: 1%;
}



.form-group {
  margin-bottom: 15px;
}

.btn-custom-grey {
  color: #fff;
  background-color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
}

.btn-custom-grey:hover {
  color: #fff;
  background-color: rgba(108, 117, 125, 0.865);
  border-color: rgb(108, 117, 125);
}

.btn-custom-grey:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 125, 212, 0.5);
}

.btn-custom-grey:active {
  color: #fff;
  background-color: rgba(108, 117, 125, 0.615);
  border-color: rgb(108, 117, 125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-custom-grey:disabled {
  color: #fff;
  background-color: rgb(108, 117, 125) !important;
  border-color: rgb(108, 117, 125);
}
