.title{
  text-align: center;
}

.row{
  padding: 1%;
}

/* Campo invalido */
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
  background-color: #ffe6e6;
}

/* Campo valido */
/* input.ng-valid.ng-touched,
select.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border: 2px solid green;
  background-color: #e6ffe6;
} */
