<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="title">Creazione Configurazione</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <!-- Step Tipo Controllo -->
        <mat-step [stepControl]="configurazioneForm.get('tipoControllo')!" label="Tipo Controllo">
          <form [formGroup]="configurazioneForm">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="tipoControllo">Tipo Controllo Descrizione</label>
                  <input id="tipoControllo" formControlName="tipoControllo" class="form-control" matInput placeholder="Descrizione Tipo Controllo" />
                </div>
                <button mat-button matStepperNext>Avanti</button>
              </div>
            </div>

          </form>
        </mat-step>

        <!-- Step Controllo -->
        <mat-step [stepControl]="configurazioneForm.get('controlloDescrizione')!" label="Controllo">
          <form [formGroup]="configurazioneForm">
            <div class="form-group">
              <label for="controlloDescrizione">Controllo Descrizione</label>
              <input id="controlloDescrizione" formControlName="controlloDescrizione" class="form-control" matInput placeholder="Descrizione Controllo" />
            </div>

            <div class="form-group">
              <label for="tipoControlloID">Tipo Controllo ID</label>
              <input id="tipoControlloID" formControlName="tipoControlloID" class="form-control" matInput type="number" />
            </div>

            <div class="form-group">
              <label for="ambitoID">Ambito ID</label>
              <input id="ambitoID" formControlName="ambitoID" matInput class="form-control" type="number" />
            </div>

            <div class="form-group">
              <label for="ordineControllo">Ordine Controllo</label>
              <input id="ordineControllo" formControlName="ordineControllo" class="form-control" matInput type="number" />
            </div>

            <button mat-button matStepperNext>Avanti</button>
          </form>
        </mat-step>

        <!-- Step Ambito -->
        <mat-step [stepControl]="configurazioneForm.get('ambitoNome')!" label="Ambito">
          <form [formGroup]="configurazioneForm">
            <div class="form-group">
              <label for="ambitoNome">Ambito Nome</label>
              <input id="ambitoNome" formControlName="ambitoNome" class="form-control" matInput placeholder="Nome Ambito" />
            </div>

            <div class="form-group">
              <label for="ambitoDestinazione">Ambito Destinazione</label>
              <input id="ambitoDestinazione" formControlName="ambitoDestinazione" class="form-control" matInput placeholder="Destinazione Ambito" />
            </div>

            <button mat-button matStepperNext>Avanti</button>
          </form>
        </mat-step>

        <!-- Step Fonte Dati -->
        <mat-step [stepControl]="configurazioneForm.get('fonteDatiDescrizione')!" label="Fonte Dati">
          <form [formGroup]="configurazioneForm">
            <div class="form-group">
              <label for="fonteDatiDescrizione">Fonte Dati Descrizione</label>
              <input id="fonteDatiDescrizione" formControlName="fonteDatiDescrizione" class="form-control" matInput placeholder="Descrizione Fonte Dati" />
            </div>

            <div class="form-group">
              <label for="nomeDriver">Nome Driver</label>
              <input id="nomeDriver" formControlName="nomeDriver" class="form-control" matInput placeholder="Nome Driver" />
            </div>

            <div class="form-group">
              <label for="nomeClasse">Nome Classe</label>
              <input id="nomeClasse" formControlName="nomeClasse" class="form-control" matInput placeholder="Nome Classe" />
            </div>

            <div class="form-group">
              <label for="url">URL</label>
              <input id="url" formControlName="url" matInput class="form-control" placeholder="URL" />
            </div>

            <div class="form-group">
              <label for="jndiName">JNDI Name</label>
              <input id="jndiName" formControlName="jndiName" class="form-control" matInput placeholder="JNDI Name" />
            </div>

            <button mat-button matStepperNext>Avanti</button>
          </form>
        </mat-step>

        <!-- Step Utente Fonte Dati -->
        <mat-step [stepControl]="configurazioneForm.get('utenteFonteDatiDescrizione')!" label="Utente Fonte Dati">
          <form [formGroup]="configurazioneForm">
            <div class="form-group">
              <label for="utenteFonteDatiDescrizione">Utente Fonte Dati Descrizione</label>
              <input id="utenteFonteDatiDescrizione" class="form-control" formControlName="utenteFonteDatiDescrizione" matInput placeholder="Descrizione Utente Fonte Dati" />
            </div>

            <div class="form-group">
              <label for="utenteFonteDatiUsername">Username</label>
              <input id="utenteFonteDatiUsername" class="form-control" formControlName="utenteFonteDatiUsername" matInput placeholder="Username" />
            </div>

            <div class="form-group">
              <label for="utenteFonteDatiPassword">Password</label>
              <input id="utenteFonteDatiPassword" class="form-control" formControlName="utenteFonteDatiPassword" matInput type="password" placeholder="Password" />
            </div>

            <button mat-button matStepperNext>Avanti</button>
          </form>
        </mat-step>

        <!-- Step Configurazione -->
        <mat-step [stepControl]="configurazioneForm.get('nomeConfigurazione')!" label="Configurazione">
          <form [formGroup]="configurazioneForm">
            <div class="form-group">
              <label for="nomeConfigurazione">Nome Configurazione</label>
              <input id="nomeConfigurazione" formControlName="nomeConfigurazione" class="form-control" matInput placeholder="Nome Configurazione" />
            </div>

            <div class="form-group">
              <label for="sqlScript">SQL Script</label>
              <textarea id="sqlScript" formControlName="sqlScript" class="form-control" matInput placeholder="SQL Script"></textarea>
            </div>

            <div class="form-group">
              <label for="programma">Programma</label>
              <input id="programma" formControlName="programma" class="form-control" matInput placeholder="Programma" />
            </div>

            <div class="form-group">
              <label for="classe">Classe</label>
              <input id="classe" formControlName="classe" class="form-control" matInput placeholder="Classe" />
            </div>

            <div class="form-group">
              <label for="schedulazione">Schedulazione</label>
              <input id="schedulazione" formControlName="schedulazione" class="form-control" matInput placeholder="Schedulazione" />
            </div>

            <div class="form-group">
              <label for="ordineConfigurazione">Ordine Configurazione</label>
              <input id="ordineConfigurazione" formControlName="ordineConfigurazione" class="form-control" matInput type="number" />
            </div>

            <button mat-button matStepperNext>Avanti</button>
          </form>
        </mat-step>

        <mat-step [stepControl]="configurazioneForm.get('soglie')!" label="Soglie">
          <form [formGroup]="configurazioneForm">
            <div formArrayName="soglie">
              <div *ngFor="let soglia of soglie.controls; let i = index" [formGroupName]="i" class="soglia-group">
                <div class="form-group">
                  <label for="sogliaInferiore-{{ i }}">Soglia Inferiore</label>
                  <input class="form-control" id="sogliaInferiore-{{ i }}" formControlName="sogliaInferiore" matInput type="number" placeholder="Soglia Inferiore" />
                </div>
                <div class="form-group">
                  <label for="sogliaSuperiore-{{ i }}">Soglia Superiore</label>
                  <input class="form-control" id="sogliaSuperiore-{{ i }}" formControlName="sogliaSuperiore" matInput type="number" placeholder="Soglia Superiore" />
                </div>
                <div class="form-group">
                  <label for="valore-{{ i }}">Valore</label>
                  <input class="form-control" id="valore-{{ i }}" formControlName="valore" matInput placeholder="Valore" />
                </div>
                <div class="form-group">
                  <label for="operatore-{{ i }}">Operatore</label>
                  <select id="operatore-{{ i }}" formControlName="operatore" matNativeControl class="form-select">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                  </select>
                </div>
                <button mat-button (click)="removeSoglia(i)">Rimuovi</button>
              </div>
            </div>
            <button mat-button (click)="addSoglia()">Aggiungi Soglia</button>
            <button mat-button matStepperNext>Next</button>
          </form>
        </mat-step>

        <!-- Step di Conferma (Ultimo Step) -->
        <mat-step label="Conferma">
          <div class="form-group">
            <button mat-button (click)="onSubmit()">Invia</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>


    </div>
  </div>
</div>
